{% extends 'blogapp/base.html' %}

{% block title %}
  Articles list
{% endblock %}

{% block body %}
    <h1>Articles:</h1>
    {% if object_list %}
        <div>
            {% for article in object_list %}
                <div>
                    <h2>Articles #{{ article.pk }}</h2>
                    <p>Название статьи: {{ article.title }}</p>
                    <p>Дата публикации: {{ article.pub_date }}</p>
                    <p>Имя автора: {{ article.author.name }}</p>
                    <p>Название категории: {{ article.category.name }}</p>
                        <div>
                            Список тегов, привязанных к статье:
                            <ul>
                                {% for tag in article.tags.all %}
                                    <li>{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                </div>

            {% endfor %}
        </div>

    {% else %}
        <h3>No Articles yet</h3>
    {% endif %}

{% endblock %}