{% extends "shopapp/base.html" %}

{% block title %}
    Confirm delete {{ object.name }}
{% endblock %}

{% block body %}
    <h1>Вы уверены, что хотите удалить {{ object.name }} ?</h1>
    <div>
        <a href="{% url 'shopapp:order_details' pk=object.pk %}">
            Обратно к заказу #{{ object.pk }}
        </a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Delete</button>
        </form>
    </div>
{% endblock %}