{% extends "shopapp/base.html" %}
{% load cache %}

{% block title %}
    Shop Index
{% endblock %}


{% block body %}
    <h1>
        {% for key, value in colors.items %}
            {% if key == 'green' %}
                <p style="color:{{ value }}">
                    {{ name_body | lower }}
                </p>
            {% else %}
                <p style="color:{{ value }}">
                    {{ name_body }}
                </p>
            {% endif %}
        {% endfor %}
    </h1>

    <div>
        <ul>
            {% for name, prise in products %}
                <li>{{ name | capfirst }} for {{ prise }} $</li>
            {% empty %}
                Spisok pust
            {% endfor %}
        </ul>
    </div>

    <div>
        Time running: {{ time_running }}
    </div>

    {% cache 100 lorem %}
    <div>
        {% lorem 3 p random %}
    </div>
    {% endcache %}

{% endblock %}